$background-color: #FFF257;
$btn-color: #39B69F;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color:$background-color;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin-top: 10vh;
  .hamburger{
    align-self: flex-end;
    background: black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 6px;
        div {
            width: 40px;
            height: 6px;
            background:#fff;
        }                    
}

}